/* +++ === _activators.scss === +++ */

// .shaded-cell
// {
//   // background-color: #000000;
//   background-image: url(../assets/images/tornPaperV3.svg);
//   background-size: 100%;
//   background-repeat: no-repeat;
//   background-position: center center;
// }

@each $num in (1, 2, 3, 4)
{
  .shaded-cell-#{$num}
  {
    background-image: url(../assets/images/tornPaperV#{$num}.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
} 

@each $num in (1, 2, 3, 4)
{
  .crossed-cell-#{$num}
  {
    background-image: url(../assets/images/crossV#{$num}.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

// .crossed-cell
// {
//   background-image: url(../assets/images/crossV4.svg);
//   background-size: 90%;
//   background-repeat: no-repeat;
//   background-position: center center;
// }



// .crossed-cell
// {
//   // position: relative;
// }

// .crossed-cell::after
// {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: 0;

//   width: 100%;
//   height: 2px;

//   transform: translateY(-50%) rotate(45deg); 
//   background-color: #000000;
// }

// .crossed-cell::before
// {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: 0;

//   width: 100%;
//   height: 2px;

//   transform: translateY(-50%) rotate(-45deg); 
//   background-color: #000000;
// }

.active__end-game
{
  pointer-events: none;
}

.active__solution
{
  pointer-events: none;
}

.dark-theme 
{
  .shaded-cell
  {
    background-color: #ffffff;
  }

  .crossed-cell::after,
  .crossed-cell::before
  {
    background-color: #ffffff;
  }
}

/* --- === _activators.scss === --- */