/* +++ === _activators.scss === +++ */

@each $num in (1, 2, 3, 4)
{
  .shaded-cell-#{$num}
  {
    background-image: url(../assets/images/tornPaperV#{$num}.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    transition-property: background-image;
    transition-duration: 0.9s;
  }
} 

@each $num in (1, 2, 3, 4)
{
  .crossed-cell-#{$num}
  {
    background-image: url(../assets/images/crossV#{$num}.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.active__end-game
{
  pointer-events: none;
}

.active__solution
{
  pointer-events: none;
}

.dark-theme 
{
  .shaded-cell
  {
    background-color: #ffffff;
  }

  .crossed-cell::after,
  .crossed-cell::before
  {
    background-color: #ffffff;
  }
}

/* --- === _activators.scss === --- */