/* +++ === _styleMain.scss === +++ */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  position: relative;

  min-height: 100vh;
  padding: 20px 0;

  --backGroundSize: 2048px;
  --backGroundPositionTop: -750px;
  --backGroundPositionLeft: 55%;
  // background-image: url(../assets/images/dojo.png);
  background-image: url(../assets/images/dojo2.png);
  background-repeat: no-repeat;
  // background-origin: content-box;
  // background-clip: content-box;
  background-size: var(--backGroundSize);
  // background-position: 55% -750px;
  background-position: var(--backGroundPositionLeft) var(--backGroundPositionTop);

  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;

  // filter: brightness(.5);

  // &::before
  // {
  //   position: absolute;
  //   content: '';
  //   width: 100%;
  //   height: 100%;

  //   background-color: #0001306c;
  //   z-index: 100;
  //   pointer-events: none;
  // }
}

.header__head
{
  // padding-bottom: 20px;
  padding: 10px 0; 

  text-align: center;
  text-transform: capitalize;

  // border-top: 10px solid transparent;

  background-image: url(../assets/images/derevyannaya-doska25.png);
  background-repeat: no-repeat;
  background-size: 26% 100%;
  background-position: center center;

  @media (max-width: 780px)
  {
    // padding-bottom: 10px;
    padding: 5px 0;

    font-size: 24px;
  }

  // &::before
  // {
  //   position: absolute;
  //   content: '';
  //   // width: 100%;
  //   // height: 100%;
  //   right: 0;
    
  //   bottom: 0;
  //   filter: brightness(.5);
  // }
}

.header__timer
{
  // padding-bottom: 20px;
  padding: 10px 0;

  text-align: center;
  font-size: 24px;
  font-weight: 600;

  background-image: url(../assets/images/derevyannaya-doska25.png);
  background-repeat: no-repeat;
  background-size: 26% 100%;
  background-position: center center;

  @media (max-width: 780px)
  {
    // padding-bottom: 10px;
    padding: 5px 0;

    font-size: 16px;
  }
}

// main
// {
//   &::after
//   {
//     position: absolute;
//     width: 100%;
//     height: 100%;

//     background-color: #000000;
//     z-index: 100;
//   }
// }

.table-wrapper
{
  margin: 0 auto;
  // max-width: 60%;

  // background-image: url(../assets/images/dojo.png);
  // background-repeat: no-repeat;
  // background-clip: content-box;
  // background-size: 100%;

  @media (max-width: 780px)
  {
    width: auto;
  }
}

select,
button
{
  cursor: pointer;
}

.game-field
{
  position: relative;

  margin: 0 auto;
  max-width: 100%;

  font-size: 14px;

  // border: 6px solid #dd8383;
  border: 6px solid transparent;
  // border-style: solid;
  // border-width: 6px;
  // border-color: #000000;
  border-collapse: collapse;

  border-image-source: url(../assets/images/border.png);
  border-image-slice: 16;
  border-image-repeat: stretch;

  background-image: url(../assets/images/backGroundPaper.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &::before
  {
    position: absolute;
    
    content: '';
    width: 99%;
    height: 98.6%;
    left: -3px;
    top: -2px;

    border-style: solid;
    border-width: 6px;
    border-image-source: url(../assets/images/border.png);
    border-image-slice: 16;
    border-image-repeat: stretch;

    overflow: hidden;
    pointer-events: none;
  }


  @media (max-width: 780px)
  {
    font-size: 12px;
  }

  @media (max-width: 510px)
  {
    font-size: 10px;
  }

  th,
  td
  {
    --cell-size: 50px;
    width: var(--cell-size);
    height: var(--cell-size);

    // border: 1px solid #a3a3a3;
    // border: 1px ridge rgb(159, 134, 121);
    border: 1px solid rgb(95, 85, 79);

    @media (max-width: 780px)
    {
      --cell-size: 27px;
      width: var(--cell-size);
      height: var(--cell-size);
    }
  }

  td
  {
    cursor: pointer;

    @media (hover: hover)
    {
      &:hover
      {
        box-shadow: 0 0 4px black;
      }
    }
  }

  td:nth-of-type(5n)
  {
    // border-right: 3.9px solid #a3a3a3;
    border-right: 3.9px ridge rgb(159, 134, 121);
  }

  td:nth-of-type(1)
  {
    // border-left: 4px solid #000000;
    border-left: 4px ridge rgb(162, 112, 92);
  }

  /* Select all tr that do not contain td and are followed by a tr that contains td. */
  /* Выбрать все tr, которые не содержат td, и после которых идёт tr, который содержит td. */
  tr:not(:has(td)) + tr:has(td) td
  {
    // border-top: 4px solid #000000;
    border-top: 4px ridge rgb(162, 112, 92);
  }

  /* Выбрать дочерние tr, каждый пятый в котором есть td, начиная с первого */
  tr:nth-child(5n + 1 of :has(td))
  {
    // border-top: 3.9px solid #a3a3a3;
    border-top: 3.9px ridge rgb(159, 134, 121);
  }

  tr:nth-of-type(1) th:nth-of-type(5n + 1)
  {
    // border-right: 3.9px solid #a3a3a3;
    border-right: 3.9px ridge rgb(159, 134, 121);
  }

  tr:not(:has(td)):nth-of-type(1n + 2) th:nth-of-type(5n)
  {
    // border-right: 3.9px solid #a3a3a3;
    border-right: 3.9px ridge rgb(159, 134, 121);
  }
}

.main__menu
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding-top: 20px;

  text-align: center;
  text-transform: capitalize;

  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  // font-stretch: ultra-expanded;

  

  div
  {
    // transform-style: preserve-3d;
    perspective: 300px;
  }

  p
  {
    padding-bottom: 10px;
    font-size: 32px;
  }

  select
  {
    width: 100px;

    font-size: 18px;
    border: 2px solid #000000;
  }

  button
  {
    width: 90%;
    margin: 0 5px;
    padding: 9px 5px;

    font-family: inherit;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;

    line-height: 0.9;
    text-transform: capitalize;

    // outline: pink solid 2px;

    border: 1px solid rgb(0, 18, 76);
    border-radius: 30% 70% 50% 30%/70% 50% 30% 25%;

    background-image: url(../assets/images/stone.jpg);
    background-size: cover;

    box-shadow: 0px 5px 5px 1px black;

    transform: rotateX(35deg);
    // perspective: 800px;
  }
}

/*! --- === _styleMain.scss === ---*/